In [30]:
import pandas as pd
import numpy as np

## 1. 2019 student/test-taker demographics

Data from this seciton was used to create slide 7 of the Deck

In [31]:
#create a master dataframe to make analysis easier/faster
#load csv files
grade7=pd.read_csv("MOCK_DATA_Grade_7_Summit_K2_CAASPP_2018-2019 - MOCK_DATA_Grade_7_Summit_K2_CAASPP_2018-2019.csv")
grade8=pd.read_csv("MOCK_DATA_Grade_8_Summit_K2_CAASPP_2018-2019 - MOCK_DATA_Grade_8_Summit_K2_CAASPP_2018-2019.csv")
grade11=pd.read_csv("MOCK_DATA_Grade_11_Summit_K2_CAASPP_2018-2019 - MOCK_DATA_Grade_11_Summit_K2_CAASPP_2018-2019.csv")

#add a column to each datafram that contains the grade level
grade7["Grade"]=7
grade8["Grade"]=8
grade11["Grade"]=11

#merge all 3 grade levels into a master dataframe
allgrades_df = pd.concat([grade7,grade8, grade11], axis=0, sort=True)

In [32]:
#Create dataframe that shows student counts/demographic data per grade level
total_students = allgrades_df.groupby('Grade')
student_count = pd.DataFrame(total_students.count())

#keep relevant columns only
student_count = student_count[['Student ID','Economically Disadvantaged Status','English Language Proficiency Level', 'Primary Disability Type']]

#add some columns that show percentages
student_count["% Economically Disadvantaged"] = (student_count["Economically Disadvantaged Status"]/student_count["Student ID"].sum())*100
student_count["% English Language Learners"] = (student_count["English Language Proficiency Level"]/student_count["Student ID"].sum())*100
student_count["% With Disabilies "] = (student_count["Primary Disability Type"]/student_count["Student ID"].sum())*100

#add a summary row
student_count.loc["Total"] = student_count.sum()

#rename for clarity
student_count = student_count.rename(columns={"Student ID":"Total Students"})
student_count

,Total Students,Economically Disadvantaged Status,English Language Proficiency Level,Primary Disability Type,% Economically Disadvantaged,% English Language Learners,% With Disabilies
Grade,,,,,,,
7,90.0,19.0,25.0,3.0,7.142857,9.398496,1.127820
8,97.0,29.0,16.0,8.0,10.902256,6.015038,3.007519
11,79.0,19.0,10.0,4.0,7.142857,3.759398,1.503759
Total,266.0,67.0,51.0,15.0,25.187970,19.172932,5.639098

In [33]:
#Get data on race/ethnicity
race_students = pd.DataFrame(allgrades_df.groupby('Race/Ethnicity').count())
race_students = race_students[["Grade"]]
race_students = race_students.rename(columns={"Grade":"Number of Students per Race"})

total_race = race_students["Number of Students per Race"].sum()
race_students["% Students per Race"] = (race_students["Number of Students per Race"]/total_race*100)
race_students.loc["Total"] = race_students.sum()
race_students

,Number of Students per Race,% Students per Race
Race/Ethnicity,,
American Indian or Alaska Native,1.0,0.386100
Asian,16.0,6.177606
Black or African American,48.0,18.532819
Filipino,9.0,3.474903
Hispanic or Latino,133.0,51.351351
Two or More Races,27.0,10.424710
White,25.0,9.652510
Total,259.0,100.000000

In [34]:
#FYI race breakdown per grade level. not sure if I will use this in slide deck
race_breakdown = pd.DataFrame(allgrades_df.groupby(['Race/Ethnicity', 'Grade']).count())
race_breakdown = race_breakdown[["Student ID"]]
race_breakdown = race_breakdown.rename(columns={"Student ID":"Number of Students"})
race_breakdown.head()

                                        Number of Students
Race/Ethnicity                   Grade
American Indian or Alaska Native 8                       1
Asian                            7                       5
                                 8                       5
                                 11                      6
Black or African American        7                      17

## 2. Score Analysis by Subject (All grades combined)--# and %

Data from this section was used to create slides 9 and 10 of the Deck

In [35]:
#Find % of Students who got Meet or Exceeds in Math
math_score = pd.DataFrame(allgrades_df["Mathematics Achievement Level"].value_counts())
math_score.index.name = "Score"
math_score.reset_index(level=0, inplace=True)
math_score

                 Score  Mathematics Achievement Level
0     Standard Not Met                            118
1  Standard Nearly Met                             72
2         Standard Met                             36
3    Standard Exceeded                             35
4                   NS                              4

In [36]:
#Find % of Students who got Meet or Exceeds in Reading
read_score = pd.DataFrame(allgrades_df["ELA/Literacy Achievement Level"].value_counts())
read_score.index.name = "Score"
read_score.reset_index(level=0, inplace=True)
read_score

                 Score  ELA/Literacy Achievement Level
0  Standard Nearly Met                              83
1         Standard Met                              82
2     Standard Not Met                              51
3    Standard Exceeded                              48
4                   NS                               2

In [37]:
#merge the 2 dataframes
overallscores_df = pd.merge(math_score, read_score, on="Score", how="outer")

#add columns to display percentages
overallscores_df["Math %"] = (overallscores_df["Mathematics Achievement Level"]/overallscores_df["Mathematics Achievement Level"].sum())*100
overallscores_df["ELA %"] = (overallscores_df["ELA/Literacy Achievement Level"]/overallscores_df["ELA/Literacy Achievement Level"].sum())*100
overallscores_df

,Score,Mathematics Achievement Level,ELA/Literacy Achievement Level,Math %,ELA %
0,Standard Not Met,118,51,44.528302,19.172932
1,Standard Nearly Met,72,83,27.169811,31.203008
2,Standard Met,36,82,13.584906,30.827068
3,Standard Exceeded,35,48,13.207547,18.045113
4,NS,4,2,1.509434,0.751880

In [38]:
#isolate "met" and "exceeded" scores only and get totals
met_exceed = overallscores_df.loc[2:3]
pd.DataFrame(met_exceed.sum())

                                                            0
Score                           Standard MetStandard Exceeded
Mathematics Achievement Level                              71
ELA/Literacy Achievement Level                            130
Math %                                                26.7925
ELA %                                                 48.8722

## 3.  Score Analysis by Subject (All grades combined)--Point value out of 4

Data from this section was used for data on Slide 9 of the Deck

In [39]:
#Add a column that displays score as point value--MATH
allgrades_df['Math Score1'] = np.where(allgrades_df['Mathematics Achievement Level']=="Standard Not Met", 1, 0)
allgrades_df['Math Score2'] = np.where(allgrades_df['Mathematics Achievement Level']=="Standard Nearly Met", 2, 0)
allgrades_df['Math Score3'] = np.where(allgrades_df['Mathematics Achievement Level']=="Standard Met", 3, 0)
allgrades_df['Math Score4'] = np.where(allgrades_df['Mathematics Achievement Level']=="Standard Exceeded", 4, 0)
allgrades_df['Math Score'] = allgrades_df.loc[:,['Math Score1', 'Math Score2', 'Math Score3', 'Math Score4']].sum(axis=1)

#Take the average of the scores in the new column
allgrades_df['Math Score'].mean()
print (f"The average SBAC score was {allgrades_df['Math Score'].mean()} out of 4 for Math")

The average SBAC score was 1.9172932330827068 out of 4 for Math

In [40]:
#Add a column that displays score as point value--READING
allgrades_df['ELA Score1'] = np.where(allgrades_df['ELA/Literacy Achievement Level']=="Standard Not Met", 1, 0)
allgrades_df['ELA Score2'] = np.where(allgrades_df['ELA/Literacy Achievement Level']=="Standard Nearly Met", 2, 0)
allgrades_df['ELA Score3'] = np.where(allgrades_df['ELA/Literacy Achievement Level']=="Standard Met", 3, 0)
allgrades_df['ELA Score4'] = np.where(allgrades_df['ELA/Literacy Achievement Level']=="Standard Exceeded", 4, 0)
allgrades_df['ELA Score'] = allgrades_df.loc[:,['ELA Score1', 'ELA Score2', 'ELA Score3', 'ELA Score4']].sum(axis=1)

#Take the average of the scores in the new column
print (f"The average SBAC score was {allgrades_df['ELA Score'].mean()} out of 4 for ELA/Reading")

The average SBAC score was 2.462406015037594 out of 4 for ELA/Reading

## 4. Unique Student Count

Data from this section was used to create the pie graph on Slide 8 of the Deck

In [41]:
#Want to know how many students met/exceeded standards in either Math or Reading and both Math and Reading

#How many students passed BOTH
passedboth_df = allgrades_df[(allgrades_df["ELA Score"] >2) & (allgrades_df["Math Score"] >2)]
passedboth_student_total = len(passedboth_df)
passedboth_pergrade = passedboth_df.groupby("Grade")

print(passedboth_student_total)
print(passedboth_pergrade["Student ID"].count())

63
Grade
7     20
8     17
11    26
Name: Student ID, dtype: int64

In [42]:
#How many passed Math only
passedMath_df = allgrades_df[(allgrades_df["ELA Score"] <3) & (allgrades_df["Math Score"] >2)]
passedMath_total = len(passedMath_df)
passedMath_pergrade = passedMath_df.groupby("Grade")

print(passedMath_total)
print(passedMath_pergrade["Student ID"].count())

8
Grade
7     3
8     4
11    1
Name: Student ID, dtype: int64

In [43]:
#How many passed ELA/Reading only
passedELA_df = allgrades_df[(allgrades_df["ELA Score"] >2) & (allgrades_df["Math Score"] <3)]
passedELA_total = len(passedELA_df)
passedELA_pergrade = passedELA_df.groupby("Grade")

print(passedELA_total)
print(passedELA_pergrade["Student ID"].count())

67
Grade
7     16
8     20
11    31
Name: Student ID, dtype: int64

## 5. Score Analysis by Subject per Grade Level (detailed)

Data from this section was used to create slides 11 and 12 of the Deck

In [44]:
#write a function that shows how many students recieved "meet"/"exceed" scores per grade level: 
#NOTE: I wrote this code FIRST, before I had the idea to create 1 giant merged dataframes, that's why the code references individual CSV files

def generate_grade_data(filename, gradeNumber):
    #import the csv file and convert to Pandas dataframe
    grade_df = pd.read_csv(filename)
    
    #Create dataframes which contain math and reading scores by Achievement Level 
    math_df = pd.DataFrame(grade_df["Mathematics Achievement Level"].value_counts())
    read_df = pd.DataFrame(grade_df["ELA/Literacy Achievement Level"].value_counts())

    #Set index names in reading and math dataframes so you can merge them
    math_df.index.name = "Score"
    math_df.reset_index(level=0, inplace=True)

    read_df.index.name = "Score"
    read_df.reset_index(level=0, inplace=True)

    #merge the 2 dataframes for Math and Reading scores
    new_df = pd.merge(math_df, read_df, on='Score', how='outer')
    
    #Get percentages of students recieving each score (add columns)
    new_df[f"Grade {gradeNumber} Math %"] = (new_df["Mathematics Achievement Level"] / new_df["Mathematics Achievement Level"].sum())*100
    new_df[f"Grade {gradeNumber} Reading %"] = (new_df["ELA/Literacy Achievement Level"] / new_df["ELA/Literacy Achievement Level"].sum())*100
    
    #delete original columns
    del new_df["Mathematics Achievement Level"]
    del new_df["ELA/Literacy Achievement Level"]  
    
    return new_df

#execute function on each csv file 
grade7_df = generate_grade_data("MOCK_DATA_Grade_7_Summit_K2_CAASPP_2018-2019 - MOCK_DATA_Grade_7_Summit_K2_CAASPP_2018-2019.csv", 7)
grade8_df = generate_grade_data("MOCK_DATA_Grade_8_Summit_K2_CAASPP_2018-2019 - MOCK_DATA_Grade_8_Summit_K2_CAASPP_2018-2019.csv", 8)
grade11_df = generate_grade_data("MOCK_DATA_Grade_11_Summit_K2_CAASPP_2018-2019 - MOCK_DATA_Grade_11_Summit_K2_CAASPP_2018-2019.csv", 11)

In [45]:
#Merge all 3 grade level dataframes to get a concise summary table
merge7and8_df = pd.merge(grade7_df, grade8_df, on="Score", how="outer")
finalscore_df = pd.merge(merge7and8_df, grade11_df, on="Score", how="outer")

#export table to CSV
export_csv = finalscore_df.to_csv ("Score-Analysis.csv", index = None, header=True)
finalscore_df
finalscore_df.loc["Total"] = finalscore_df.sum()
finalscore_df

,Score,Grade 7 Math %,Grade 7 Reading %,Grade 8 Math %,Grade 8 Reading %,Grade 11 Math %,Grade 11 Reading %
0,Standard Not Met,47.191011,27.777778,51.546392,15.463918,32.911392,13.924051
1,Standard Nearly Met,25.842697,31.111111,25.773196,46.391753,30.379747,12.658228
2,Standard Exceeded,17.977528,11.111111,5.154639,3.092784,17.721519,44.303797
3,Standard Met,7.865169,28.888889,16.494845,35.051546,16.455696,27.848101
4,NS,1.123596,1.111111,1.030928,NaN,2.531646,1.265823
Total,Standard Not MetStandard Nearly MetStandard Ex...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

## 6. Student Subgroup Analysis

This is an area of data analysis I would have liked to spend more time on. I did not get to finish the analysis, so this data was not included in the Deck

In [46]:
#Create Dataframes for different subgroups (all grade levels combined)

#Economically Disadvantaged Students
ED_df = allgrades_df.loc[allgrades_df["Economically Disadvantaged Status"]=='Y']

In [47]:
def generate_subgroup_data(df_name, subgroup):
    
    #Create dataframes which contain math and reading scores by Achievement Level 
    math_df = pd.DataFrame(df_name["Mathematics Achievement Level"].value_counts())
    read_df = pd.DataFrame(df_name["ELA/Literacy Achievement Level"].value_counts())

    #Set index names in reading and math dataframes so you can merge them
    math_df.index.name = "Score"
    math_df.reset_index(level=0, inplace=True)

    read_df.index.name = "Score"
    read_df.reset_index(level=0, inplace=True)

    #merge the 2 dataframes for Math and Reading scores
    new_df = pd.merge(math_df, read_df, on='Score', how='outer')
    
    #Get percentages of students recieving each score (add columns)
    new_df[f"{subgroup} Math %"] = (new_df["Mathematics Achievement Level"] / new_df["Mathematics Achievement Level"].sum())*100
    new_df[f"{subgroup} Reading %"] = (new_df["ELA/Literacy Achievement Level"] / new_df["ELA/Literacy Achievement Level"].sum())*100
  
    #delete original columns
    del new_df["Mathematics Achievement Level"]
    del new_df["ELA/Literacy Achievement Level"] 
    
    return new_df

EconDis_df = generate_subgroup_data(ED_df, "Economically Disadvantaged") 
EconDis_df

,Score,Economically Disadvantaged Math %,Economically Disadvantaged Reading %
0,Standard Not Met,53.030303,19.402985
1,Standard Nearly Met,22.727273,37.313433
2,Standard Met,15.151515,25.373134
3,Standard Exceeded,9.090909,16.417910
4,NS,NaN,1.492537

In [48]:
#Also want to do subgroup analysis for Students with Disabilites, English Language Learners, and Racial Minority Groups